<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.traplaner.mapper.TravelBoardMapper">

    <sql id="search">
        <if test="type == 'title'">
            WHERE t.title LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'content'">
            WHERE tb.content LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'writer'">
            WHERE m.nick_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        <if test="type == 'tc'">
            WHERE t.title LIKE CONCAT('%', #{keyword}, '%')
            OR tb.content LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </sql>

    <!-- 목록: 제목, 작성자, 작성일 -->
    <select id="findAll" resultType="com.project.traplaner.travelBoard.dto.TravelBoardListResponseDTO">
        SELECT
        t.id,
        t.title AS short_title,
        m.nick_name AS writer,
        tb.write_date,
        COUNT(f.member_id) AS likeCount
        FROM tbl_member AS m
        JOIN tbl_travel AS t ON m.id = t.member_id
        JOIN tbl_travel_board AS tb ON t.id = tb.travel_id
        LEFT JOIN tbl_favorite AS f ON tb.id = f.travel_board_id
        <include refid="search"/>
        GROUP BY tb.id, m.nick_name, t.id, t.title, tb.write_date, tb.content
        ORDER BY tb.write_date DESC
        LIMIT #{pageStart}, #{amount}
    </select>

    <!-- 게시물 상세조회: 제목, 작성자, 작성일, 내용, 좋아요수 -->
    <select id="findOne" resultType="com.project.traplaner.travelBoard.dto.TravelBoardDetailResponseDTO">
        SELECT
        t.id,
        t.title AS title,
        m.nick_name AS writer,
        tb.write_date,
        tb.content,
        COUNT(f.member_id) AS likeCount
        FROM tbl_member m
        JOIN tbl_travel t ON m.id = t.member_id
        JOIN tbl_travel_board tb ON t.id = tb.travel_id
        LEFT JOIN tbl_favorite f ON tb.id = f.travel_board_id
        WHERE tb.id = #{id}
        GROUP BY t.id, t.title, m.nick_name, tb.write_date, tb.content;
    </select>

    <!-- 검색 게시물 개수 -->
    <select id="getTotalCount" resultType="int">
        SELECT COUNT(*)
        FROM tbl_member AS m
        JOIN tbl_travel AS t ON m.id = t.member_id
        JOIN tbl_travel_board AS tb ON t.id = tb.travel_id
        <include refid="search"/>
    </select>

</mapper>