<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.traplaner.mapper.TravelBoardMapper">

<!--    목록: 제목, 작성자, 작성일-->
    <select id="findAll" resultType="com.project.traplaner.travelBoard.dto.TravelBoardListResponseDTO">
        SELECT
        t.title,
        tb.member_nick_name,
        tb.write_date
        FROM tbl_travel t
        JOIN tbl_travel_board tb
        ON t.id = tb.travel_id
    </select>

<!--    게시물 상세조회: 제목, 작성자, 작성일, 내용, 좋아요수-->
    <select id="findOne" resultType="com.project.traplaner.travelBoard.dto.TravelBoardDetailResponseDTO">
        SELECT
        t.title,
        tb.member_nick_name,
        tb.write_date,
        tb.content,
        (SELECT COUNT(*) FROM tbl_favorite WHERE travel_board_id) AS likeCount
        FROM tbl_travel t
        JOIN tbl_travel_board tb
        ON t.id = tb.travel_id;
    </select>

<!--    검색 게시물 개수    -->
    <select id="getTotalCount" resultType="int">
        SELECT
        COUNT(*)
        FROM tbl_travel_board
        <include refid="search" />
    </select>
</mapper>