<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.project.traplaner.mapper.MyPageBoardMapper">

    <insert id="saveTravel">
    </insert>

    <insert id="postJourney">
    </insert>

    <update id="updateJourney">
    </update>

</mapper>
